<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<p th:text="${employee.getName()}">VALUE</p>
<p th:text="${employee.getId()}">VALUE</p>
<p th:text="${employee.getJobTitle()}">VALUE</p>
<br/>
<a th:href="@{/employee/{id}/edit(id=${employee.getId()})}">Изменить</a>
<br/>
<form th:method="DELETE" th:action="@{/employee/{id}(id=${employee.getId()})}">
    <input type="submit" value="Удалить"/>
</form>
<br/>
<a href="/employee">Назад</a>
</body>
</html>