<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Изменение параметров начальника</title>
</head>
<body>

<form th:method="PATCH" th:action="@{/supervisor/{id}(id=${supervisor.getId()})}" th:object="${supervisor}">
    <label for="name">Введите имя: </label>
    <input type="text" th:field="*{nameSupervisor}" id="name"/>
    <br/>
    <div>>
        <select th:field="*{departmentTitle}">
            <option th:each="departmentTitle: ${departmentsTitles}"
                    th:text="${departmentTitle.value}"
                    th:value="${departmentTitle}">
                JobTitle</option>
        </select>
    </div>
    <br/>

    <div th:each="employees : ${employee}">
        <input type="checkbox" th:value="${employees.id}" th:text="${employees.name}" name="employeeId">
    </div>

    <br/>
    <input type="submit" value="Обновить"/>
    <br/>
    <a href="/supervisor">Назад</a>

</form>

</body>
</html>