<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Создание нового начальника</title>
</head>
<body>

<!--<form th:method="GET" th:action="@{/supervisor/addEmployeeToSupervisor}">-->
<form th:method="POST" th:action="@{/supervisor/new}" th:object="${supervisor}">
    <label for="name">Введите имя начальника: </label>
    <input type="text" th:field="*{nameSupervisor}" id="name"/>
    <br/>
    <div>>
        <select th:field="*{departmentTitle}">
            <option th:each="departmentTitle: ${departmentsTitles}"
                    th:text="${departmentTitle.value}"
                    th:value="${departmentTitle}">
                JobTitle</option>
        </select>
    </div>

    <div th:each="employees : ${employee}">
        <input type="checkbox" th:value="${employees.id}" th:text="${employees.name}" name="employeeId">
    </div>

    <input type="submit" value="Создать"/>
</form>
</body>
</html>