<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Создание нового начальника</title>
</head>
<body>

<form th:method="GET" th:action="@{/supervisor/addEmployeeToSupervisor}">
    <label for="name">Введите имя начальника: </label>
    <input type="text" th:field="*{supervisor.nameSupervisor}" id="name"/>
    <br/>
    <div>>
        <select th:field="*{supervisor.departmentTitle}">
            <option th:each="departmentTitle: ${departmentsTitles}"
                    th:text="${departmentTitle.value}"
                    th:value="${departmentTitle}">
                JobTitle</option>
        </select>
    </div>
    <input type="submit" value="Создать"/>
</form>
</body>
</html>